@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/scss/breakpoints';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.component {
  width: 100vw;
  height: 100vh;
}

.component-content {
  width: 100%;
  padding: 0 20px;

  @include breakpoint-up(md) {
    padding: 0 40px;
  }
}